@charset "utf-8";
h1 {
    text-align: center;
    color: rgb(204, 66, 36);
}
h3 { text-align: center;
    color: rgb(204, 66, 36);
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
p {text-align: center;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	color: rgb(243, 212, 3)
	
}
h4 {text-align: center;
	color: rgb(243, 212, 3)
}
img {  border-style: solid;
  border-color: rgb(204, 66, 36);
}
a {color: rgb(204, 66, 36);
	text-align: center;
	display:block;
}
body {background: black
}
li {text-align: center;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	color: rgb(243, 212, 3)

